line-length = 100
exclude = [".venv", "__init__.py"]

[lint]
select = ["ALL"]
ignore = ["D100", "D101", "D102", "D103", "D107"]
fixable = ["ALL"]
unfixable = []

[lint.pydocstyle]
convention = "google"

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"
