[connection]
host_flag = true
ssh_flag = true
buffer = 2048
keep_connection = false

[tcp-server]
ip = localhost
port1 = 50000
port2 = 50001
port3 = 50002
port4 = 50003
port5 = 50004

[tcp-client]
; local sever settings
host = localhost
port = 10001
; remote sever settings
; host = 160.16.83.206
; port = 10001

[ssh-server]
config_path = ./res/ssh-config
host_name = aiwolf-server
ssh_agent_flag = false
timeout = 200

[game]
num = 1

[agent]
num = 5
name1 = kanolab1
name2 = kanolab2
name3 = kanolab3
name4 = kanolab4
name5 = kanolab5

[filePath]
log_inifile = ./res/log.ini
random_talk = ./res/2019071_44011_AIWolfTalkLogs.txt
